:root {
    --light-teal: #91fecd;
    --teal: #80ffd0;
    --dark-teal: #42b282;
    --red: #b1422f;
    --salmon: #ff8b76;
    --dark-purple: #5a78bb;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100vh;
    width: 100vw;
    overflow-x:hidden;
    background-color: var(--light-teal);
  }
  header {
    background-color: var(--teal);
    color: var(--dark-purple);
    padding: 2.5vh;
    display: flex;
    justify-content: space-between;
    border-bottom:2px var(--dark-teal) solid;
    
  }
  
  #form {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  
  #search-bar {
    max-height: 50%;
    background-color: var(--light-teal);
    color: black;
    border: 2px var(--dark-purple) solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
  }
  #search-bar::placeholder {
    color: black;
  }
  
  button {
    max-height: 50%;
    background-color: var(--dark-purple);
    color: black;
    border: 2px var(--dark-purple) solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
  }
  
  #header-stack:nth-child(2) {
    text-align: center;
  }
  
  .home-section {
    display: flex;
    background-color: var(--teal);
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    font-weight: 500;
  }
  .home-section > h2 {
    margin-bottom: 1.5vh;
  }
  .home-section > p {
    font-size: 18px;
  }
  #intro {
    background-color: inherit;
    border: none;
    border-radius: 0px;
    color: black;
  }
  #post {
    box-shadow: 0px -3px 8px var(--dark-teal),
      0px 3px 8px var(--dark-teal);
  }
  
  .post-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   border-radius: 2.5px; 
   min-width: 24vw;
   min-height: 30%;
   box-shadow: inset 2px 2px 5px var(--dark-teal),
     inset -2px -2px 5px var(--dark-teal);
   opacity: 1;
  }
  
  .post-box:after {
   box-shadow: 2px 2px 7px var(--dark-teal),
      -2px -2px 5px var(--dark-teal);
    opacity: 0;
    
  }
  
  
  .post-box:hover {
    opacity: 0;
  }
  .post-box:hover::after {
    opacity: 1;
  }
  
  .post-cont {
    display: inherit;
    flex-direction: row;
    gap: 1vw;
  }